@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: Noto Sans KR;
}
a {
  text-decoration: none;
  color: #161616;
}

.answer-section.transition {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.answer-section button:hover {
  background: #f4f4f4;
}
