@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: Noto Sans KR;
}
a {
  text-decoration: none;
  color: #161616;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
.question-card {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}
.answer-section {
  width: 100%;
  background: #fff;
  border: 1px solid #161616;
  padding: 0.78rem;
  margin-bottom: 1rem;
  text-align: left;
  font-size: 0.98rem;
  line-height: 1.8;
}
.answer-section:hover {
  background: #eee;
}
